.contact__container{
    display: grid;
    grid-template-columns: 20% 65%;
    gap: 15%;
}

/* ================ CARDS ================ */

.contact__cards__container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact__card{
    background: var(--color-bg-variant);
    padding: 2rem;
    border-radius: 1.7rem;
    border: 1px solid transparent;
    text-align: center;
    transition: var(--transition);
}

.contact__card:hover{
    background: transparent;
    border-color: var(--color-primary);
}

.contact__card > h5{
    color: var(--color-light);
    margin-bottom: 0.5rem;
}

.contact__card-icon{
    font-size: 1.5rem;
}

.contact__card > a{
    display: inline-block;
}

/* ================ FORM ================ */

.contact__form__container > form{
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 1rem; */
}

.contact__form-input{
    color: var(--color-white);
    background-color: transparent;
    border: 2px solid var(--color-primary);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    font-size: 18px;
    width: 100%;
}

.contact__form-input::placeholder {
    color: var(--color-light);
    opacity: 1;
}

.contact__form__container > form > textarea{
    resize: none;
}

/* ================ MEDIA QUERY (MEDIUM DEVICES) =============== */

@media screen and (max-width:1024px){
    .contact__container{
        grid-template-columns: 1fr;
        gap: 5%;
    }
}

/* ================ MEDIA QUERY (SMALL DEVICES) =============== */

@media screen and (max-width:600px){  
    .contact__cards{
        width: var(--container-width-sm);
    }
}
